.intro-section {
  background-image: url("../../../assets/images/interstellar-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 390px;
}
